.message {
  font-size: 14px;
  padding-left: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#paused {
  display: none;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
}

.paused-btn {
  background-color: #a16bf5;
  color: #fff;
  width: 85%;
  text-align: center;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  transition: all 250ms ease;
  height: 100%;
}

.paused-btn:hover {
  background-color: #772ce8;
}

.scroll-top-btn {
  height: 100%;
  background-color: #772ce8;
  color: #fff;
  width: 15%;
  text-align: center;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  transition: all 250ms ease;
}

.paused-btn:hover {
  background-color: #a16bf5;
}

.channel-title {
  text-align: center;
}

.channel-remove-btn {
  padding: 0.75rem;
  display: block;
  margin: auto;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  font-weight: bold;
  background-color: #a16bf5;
  cursor: pointer;
  transition: all 250ms ease;
}

.channel-remove-btn:hover {
  background-color: #772ce8;
}

.channel-tip {
  width: 100%;
  text-align: center;
  color: #9c9c9c;
  font-size: smaller;
  font-style: italic;
  margin-bottom: 1rem;
}

.messages-chat-container {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  bottom: 0;
  left: 0;
}

.messages-chat-container .message-input {
  display: block;
  background-color: #121013;
  color: #fff;
  width: 100%;
  overflow: auto;
  resize: none;
  height: 20px;
  min-height: 20px;
  max-height: 25vh;
  line-height: 20px;
  border: #a16bf5 solid 2px;
  padding: 0.5rem;
  appearance: none;
  transition: all 250ms ease-out;
}

.message-input-container {
  width: 80%;
}

.message-input-container .emote-btn {
  position: absolute;
  right: calc(20vw + 5px);
  bottom: 6px;
  padding: 0.25rem;
  border-radius: 20%;
  font-size: 1.25rem;
  background-color: #4e355c;
  transition: all ease-out 200ms;
}

.message-input-container .emote-btn:hover {
  background-color: #a16bf5;
  color: #060407;
  cursor: pointer;
}

.messages-chat-container .message-input:focus {
  background-color: #060407;
  border: #772ce8 solid 2px;
  outline: none;
}

.messages-chat-container .message-input:disabled {
  border: #d45757 solid 2px;
}

.send-btn {
  background-color: #a16bf5;
  color: #fff;
  width: 20%;
  text-align: center;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  min-height: 20px;
  transition: all 250ms ease;
}

.send-btn:hover,
.send-btn:focus {
  background-color: #772ce8;
  outline: none;
}

.send-btn.disabled {
  background-color: #d45757;
}

.send-btn.disabled:hover {
  background-color: #9e4141;
}

.chat-container {
  position: absolute;
  height: 100%;
  overflow: hidden;
}

.chat-container#messages-container {
  min-height: 100%;
  max-height: 100%;
  overflow-y: scroll;
}

#messages-container {
  height: 100%;
  width: 100%;
  padding-bottom: 1rem;
  overflow-y: auto;
}

#messages-container::-webkit-scrollbar,
.message-input::-webkit-scrollbar {
  background: #19161d;
  width: 10px;
  position: fixed;
  right: 1rem;
  top: 1rem;
}

#messages-container::-webkit-scrollbar-thumb,
.message-input::-webkit-scrollbar-thumb {
  background: #88888811;
  border: solid 1px #88888822;
  border-radius: 10px;
}

#messages-container::-webkit-scrollbar-thumb:hover,
.message-input::-webkit-scrollbar-thumb:hover {
  background: #88888822;
  border: solid 1px #88888833;
}

#messages-container img {
  margin: 0 0.25rem;
}

.tooltip::before {
  font-size: 0.75rem;
  text-align: center !important;
}

.message-mention {
  cursor: pointer;
}

.message-mention:hover {
  text-decoration: underline;
}

.message-username {
  cursor: pointer;
}

.message-username:hover {
  text-decoration: underline;
}