.message {
  padding-left: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.paused-btn {
  display: none;
  position: fixed;
  bottom: 0;
  background-color: #a16bf5;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  transition: all 250ms ease;
}

.paused-btn:hover {
  background-color: #772ce8;
}

.channel-title {
  text-align: center;
}

.channel-remove-btn {
  padding: 0.75rem;
  display: block;
  margin: auto;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  font-weight: bold;
  background-color: #a16bf5;
  cursor: pointer;
  transition: all 250ms ease;
}

.channel-remove-btn:hover {
  background-color: #772ce8;
}
