.install-update-block-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000000f5;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: #fff 0px 0px 4px 0px;
  z-index: 10;
}

.install-update-container {
  width: 50vw;
  height: 33vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 15;
  text-align: center;
}

.install-update-btn {
  display: inline;
  background-color: #a16bf5;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  cursor: pointer;
  transition: all 250ms ease;
  font-weight: bold;
}
.install-update-btn:hover {
  padding: 0.75rem 1.25rem;
  background-color: #772ce8;
}
.install-update-btn:focus {
  outline: none;
}
